.home { 
	position: relative;
	height: 100%;
	width: 100%;
	background: linear-gradient(to bottom, #c2e59c , #64b3f4);

	.header {
		min-height: 60px;
		height: auto;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		background: rgba(255, 255, 255, .9);
		z-index: 1111;
	}
	.logo{
		text-align: center;
		font-weight: 500;
		height: 100%;
		line-height: 60px;
		font-size: 2rem;
		
	}
	.chats {
		padding: 0px;
		margin: 0px;
		position:absolute;
		overflow:auto;
		bottom:0;
		max-height: 100%;
		width: 100%;
		padding-top: 70px;
		padding-bottom: 3.5rem;
	}
	.message{
		max-width: 70%;
		display: inline-block;
		line-height: 1.7rem;
		background: #fff;
		border-radius: 14px;
		border-top-right-radius: 0;
		border-bottom-left-radius: 0;
		padding: 8px 14px;
		display: inline-block;
		margin-left: 5px;
		position: relative;
	}
	.message .circle{
		position: relative;
		overflow: hidden;
		width: 120px;
		height: 120px;
		border-radius: 50%;
		background: #E94E3D;
		box-shadow: 60px -60px 0 2px #E94E3D, -60px -60px 0 2px #E94E3D, -60px 60px 0 2px #E94E3D, 60px 60px 0 2px #E94E3D, 0 0 0 2px #E94E3D;
	}
	.circle:hover {
		animation: border .4s ease 1 forwards;
		cursor: none;
	}
	.img-wrapper{
		max-width: 70%;
		border-radius: 14px;
		border-top-right-radius: 0;
		border-bottom-left-radius: 0;
		display: inline-block;
		margin-left: 5px;
		padding: 14px 14px;
	}
	.chart-wrapper {
		background: rgba(0,0,0,0.4);
		padding: 1rem;
	}
	.img-wrapper img {
		max-width: 100%;
		max-height: 100%;
		font-size: 0px;
		display: block;
	}
	/* Rectangle: */


	.user-message{
		background: linear-gradient(to bottom, #46CF26 , #3EC71E);
		color: #fff;
		cursor: pointer;
		user-select: none;
	}
	.user-message:active{
		background: linear-gradient(to bottom, #38A51C , #38A51C);
	}
	.center{
		text-align: center;
	}
	.sep {
		color: inherit;
		padding-bottom: 0.5rem;
		padding-left: 1rem;
		padding-right: 1rem;
	}
	.ava {
		width: 20px;
		height: 20px;
		display: inline-block;
		vertical-align: bottom;
		img{
			width: 100%;
			height: 100%;
		}
	}
	.right{
		text-align: right;
	}
	.cc {
		position: absolute;
		right: 10%;
		bottom: 10%;
		width: 10%;
		height: 10%;
		border: 1px solid red;
	}
	
}
:global .arc-background{
	stroke: none !important;
}
circle{
	stroke-width: 7% !important;
}
svg {
	display: inline-block !important;
	width: 30% !important;
	height: 30% !important;
	position: absolute;
	right: 0%;
	bottom: -7%;
}

@keyframes border {
	0% {
		box-shadow: 60px -60px 0 2px #E94E3D, -60px -60px 0 2px #E94E3D, -60px 60px 0 2px #E94E3D, 60px 60px 0 2px #E94E3D, 0 0 0 2px #E94E3D;
	}
	25% {
		box-shadow: 0 -125px 0 2px #E94E3D, -60px -60px 0 2px #E94E3D, -60px 60px 0 2px #E94E3D, 60px 60px 0 2px #E94E3D, 0 0 0 2px #fff;
	}
	50% {
		box-shadow: 0 -125px 0 2px #E94E3D, -125px 0px 0 2px #E94E3D, -60px 60px 0 2px #E94E3D, 60px 60px 0 2px #E94E3D, 0 0 0 2px #fff;
	}
	75% {
		box-shadow: 0 -125px 0 2px #E94E3D, -125px 0px 0 2px #E94E3D, 0px 125px 0 2px #E94E3D, 60px 60px 0 2px #E94E3D, 0 0 0 2px #fff;
	}
	100% {
		box-shadow: 0 -125px 0 2px #E94E3D, -125px 0px 0 2px #E94E3D, 0px 125px 0 2px #E94E3D, 120px 40px 0 2px #E94E3D, 0 0 0 2px #fff;
	}
}