.loader {
	text-align: center;
	
	.loading-animation {
		line-height: 10px;
	}
	.la-ball-pulse,
	.la-ball-pulse > div {
		position: relative;
		box-sizing: border-box;
	}
	.la-ball-pulse {
		display: inline-block;
		font-size: 0;
		color: #ccc;
	}
	.la-ball-pulse > div {
		display: inline-block;
		float: none;
		background-color: currentColor;
		border: 0 solid currentColor;
	}
	.la-ball-pulse {
		width: 54px;
		height: 18px;
		vertical-align: middle;
	}
	.la-ball-pulse > div:nth-child(1) {
		animation-delay: -200ms;
	}
	.la-ball-pulse > div:nth-child(2) {
		animation-delay: -100ms;
	}
	.la-ball-pulse > div:nth-child(3) {
		animation-delay: 0ms;
	}
	.la-ball-pulse > div {
		width: 10px;
		height: 10px;
		margin: 4px;
		border-radius: 100%;
		animation: ball-pulse 700ms ease infinite;
	}
	.la-ball-pulse.la-sm {
		width: 26px;
		height: 8px;
	}
	.la-ball-pulse.la-sm > div {
		width: 4px;
		height: 4px;
		margin: 2px;
	}
	

}
/*
 * Animation
 */
@keyframes ball-pulse {
	0%,
	60%,
	100% {
		opacity: 1;
		transform: scale(1);
	}
	30% {
		opacity: .5;
		transform: scale(0.9);
	}
}
