html {font-size: 62.5%; box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}
* {margin: 0;padding: 0;}
body > * {font-size: 1.4rem;font-family: 'msu';font-weight: 300;}
h1,h2,h3,h4,h5,h6 {font-weight: 400}
h1{font-size: 2.4rem; }
h2{font-size: 2.2rem; }
h3{font-size: 2.0rem; }
h4{font-size: 1.8rem; }
h5{font-size: 1.6rem; }
h6{font-size: 1.4rem; }
a {color: #5DA0E7; cursor: pointer;}
a:hover{color: #5DA0E7}
button{border: none; outline: none;background: none; cursor: pointer;}
html, body, #app, .page {width: 100%;height: 100%; position: relative;}
main {width: 100%;margin-right: auto; margin-left: auto;max-width: 1000px}
.pindown{display: flex;flex-direction: column;height: 100%;}
.noselect {-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none; user-select: none;}
.vam{vertical-align: middle;}
.relative{position: relative;}
.ib{display: inline-block;}
.flex {display: flex}
.flex1 {flex:1}
.hide {display:none}
.must-hide{display: none !important }
.hidden{visibility: hidden;}
.capitalize {text-transform: capitalize;}
.uppercase {text-transform: uppercase;}
.letter::first-letter{text-transform: capitalize}
.nopadding{padding:0}
.nomargin{margin:0}
.table{display: table;}
.tcell {display: table-cell;}
.trow{display: table-row;}
.maxwidth{ width: 100%}
.maxheight{height: 100%} 
.absolute-center{position: absolute;top: 50%;left: 50%;transform:translate(-50%,-50%)}
.vac {display: flex;flex-direction: column;justify-content: center; height: 100%;}
.va {display: flex; align-items: center; height: 100%;}
.flexright{margin-left: auto;}